@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


body {
    background-color: rgb(145, 145, 145);

}

* {
   box-sizing: border-box;
   margin: 0%;
   padding: 0%;    
   font-family: 'Play', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgb(145, 145, 145);
}

.wrapper-content {
    width: 400px;
}



/* Quiz page */

#quizSection .card {
    width: 800px!important;
    height: 450px!important;
    background-color: #fff!important;
}

#quizSection .card .card-header {
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 22px;
}

#quizSection .card .card-body {
    background-color: #ecf0f1;
    padding: 30px;
}


.timer {
    text-align: right;
}

.option-group {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 15px;
}

.option {
    display: inline-block;
    background-color: #fff;
    width: 300px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 100px;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}

.option:hover {
    cursor: pointer;
    border: 2px solid #010008;
    color: #000000;
}

.btn-next {
    background-color: #000000;
    color: #fff;
    padding: 15px 35px;
    border: none;
    border-radius: 100px;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
}

.btn-next:focus {
    outline: none;
}

.btn-next:hover {
    background-color: #fff;
    color: #7a7a7a;
    cursor: pointer;
    border: 2px solid #7a7a7a;
    box-shadow: 0 0 10px 1px;
}

.active {
    background-color: #252424;
    color: #fff;
}

.active:hover {
    background-color: #7a7a7a;
    color: #fff;
}

/* Result */

.result {
    text-align: center;
}

.fa-award {
    color: #fff;
    font-size: 20rem;
}

.user_name, .user_points, .user_time {
    color: #fff;
    margin-top: 15px;
}

#highScores {
    color: rgba(100, 1, 1, 0.966);
}

.returnBtn{
    background-color:rgb(7, 41, 7);
    color: white;
}

#correct {
    color: rgba(100, 1, 1, 0.966);
}

.question {
    color: rgba(100, 1, 1, 0.966);
}

.answerBtn{ 
    background-color: rgb(18, 18, 70);
    color: white;
}

.startText {
    color: rgba(100, 1, 1, 0.966);
}

#startBtn {
    background-color:rgb(7, 41, 7);
    color: white;
}

.submitBtn {
    background-color:rgb(7, 41, 7);
    color: white;
}

#finalScore {
    color: rgba(100, 1, 1, 0.966);
}

.removeBtn {
    background-color: rgba(100, 1, 1, 0.966);
    color: white;
}
/* ............. */
/* .btn {
    border: none;
    background: rgba(1, 114, 58, 0.884);
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    line-height: 2.4rem;
    margin: 1.6rem 1.6rem 1.6rem 2rem;
    padding: 1.4rem 3.4rem;
    text-align: center;
    font-size: 2.2rem;


}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(1, 114, 58, 0.884);
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
}

#highscores-btn {
    background: rgba(114, 1, 1, 0.884);
}

#highscores-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(114, 1, 1, 0.884);
}

.fa-play {
    font-size: ;
}

.fa-play-circle {
    font-size: 2rem;
    margin-left: 1rem;
}

.fa-fort-awesome-alt {
    font-size: 2rem;
    margin-left: 1rem;
}

.fa-retweet {
    font-size: 2rem;
    margin-left: 1rem;
}

.fa-home {
    font-size: 2rem;
    margin-left: 1rem;
}

.fa-save {
    font-size: 2rem;
    margin-left: 1rem;
}

 High Scores Page CSS

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem 0 black;
}

input::placeholder {
    color: #aaaaaa;
}

#userinitials {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;    
}

#end-text {
    font-size: 2.4rem;
    color: #ffffff;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

fa-home {
    font-size: 2rem;
    margin-left: 1rem;
} */