
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: black;
    font-size: 3rem;
    min-width: 80rem;
    color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(255, 255, 255);
    transform: scale(1.02);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: rgba(1, 114, 58, 0.884);
}

.incorrect {
    background: rgba(114, 1, 1, 0.884);
}

/* Heads Up Display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgba(1, 114, 58, 0.884);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

